<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>myFirstWeb</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>AdminProductList</servlet-name>
        <servlet-class>com.my.web.AdminProductList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminProductList</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductList</servlet-name>
        <servlet-class>com.my.web.AddProductList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductList</servlet-name>
        <url-pattern>/addList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProductListUI</servlet-name>
        <servlet-class>com.my.web.AddListUI</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProductListUI</servlet-name>
        <url-pattern>/addListUI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DelProductList</servlet-name>
        <servlet-class>com.my.web.DelProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DelProductList</servlet-name>
        <url-pattern>/delList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getDetails</servlet-name>
        <servlet-class>com.my.web.EditListUIServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getDetails</servlet-name>
        <url-pattern>/editUI</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EditProductList</servlet-name>
        <servlet-class>com.my.web.EditProductListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProductList</servlet-name>
        <url-pattern>/editList</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getListByCondition</servlet-name>
        <servlet-class>com.my.web.ProductListByConditionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getListByCondition</servlet-name>
        <url-pattern>/getListByCondition</url-pattern>
    </servlet-mapping>
</web-app>